#Music
*.wav

#Font files
*.ttf

# VS files
.vs/
x64/
src/x64/
src/.vs/
**/x64/
**/.vs/


#Build stuff
*.dll.recipe
*.ilk
*.lib.recipe
*.pdb
*.exe.recipe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.aps

#Debug
*.idb
*.pbd
*.log
*.tlog